@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=DM+Sans:opsz,wght@9..40,700;9..40,800&family=Hedvig+Letters+Serif:opsz@12..24&family=Kalnia&family=Kanit:wght@700&family=Lato&family=Mynerve&family=Noto+Sans:wght@500&family=Poppins:wght@300&display=swap');

body {
    background-color: #b8cbd0a7;
    margin: 0;
    padding: 0;
    font-family: 'Noto sans', cursive;
}
html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background: #709CA7;
    box-shadow: inset 0px -1px 0px #c5c5c6;
}


.navlinks-container a {
    margin: 10px 20px;
    font-family: 'Noto sans', cursive;
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: var(--ecriture);
    display: inline-block;
    position: relative;
    transition: scale 0.7s ease-out;
}

.navlinks-container a:hover {
    scale: 1.15;
}

.header h1 {
    font-size:50px;
}
.header {
    text-align: center;
    justify-content: center;
    display: flex;
}
.sampleContainer {
    width:90%;
    padding: 20px;
    border: 1px solid gray;
    height: auto;
    margin: 0 auto;
    background-color: #137C8B;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-top: 30px;
}
.sampleContainer p {
    color: white;
}
.sampleMain {
    width: 100%;
    flex-direction: row;
    display: flex;
}
.sample {
    border: 1px solid white;
    width:33%;
    margin: 10px;
    background-color: #7A90A4;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}
.box {
    background-color: white;
    width: 90%;
    height: 250px;
    margin: 10px auto;
    border-radius: 10px;
    max-width: 90%;
    overflow: scroll;
}

.sample h1 {
    color: white;
}
.sample h3 {
    color: white;
}
.box img {
    width: 90%;
}
.Ex {
    margin: 30px auto;
    width: 75%;
    height: 500px;
}
.Ex .box {
    height: 400px;
}
.h1 {
    color: white;
    margin: 10px auto;
}

.sample p {
    color: white;
}
.form {
    width: 50%;
    background-color: #137C8B;
    margin: 30px auto;
    padding: 15px;
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    padding-left: 50px;
}
.form h3 {
    color: white;
}
.form input {
    margin: 0 auto;
    margin-bottom: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    width: 70%;
}
.form textarea {
    border-radius: 10px;
    border: none;
    resize: none;
    margin-bottom: 20px;
}


.form button {
    border: none;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
    margin: 0 auto;
    background-color: #B8CBD0;
    box-shadow: 0 6px #ECF8F6;
    position: relative;
}
.form button:hover {
    top: 2px;
    box-shadow: 0 4px #ECF8F6;
    opacity: 0.8;
}
.form button:active {
    top: 6px;
    box-shadow: 0 0px #ECF8F6;
}

.autreSpec {
    background-color: #137C8B;
    width: 45%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
}
.navlinks-container img{
    width: 250px;
    height: 200px;
}

.autreSpec h1{
    color: white;
}

.autreSpec p{
    color: white;
}

.header h3 {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
.form button {
    font-size: 18px;
    font-weight: bold;
}

@media(max-width:600px) {
    
.sampleMain {
    width: 100%;
    flex-direction: column;
    display: flex;
}
.sample {
    width: 90%;
}
.Ex{
    height: 600px;
}
.header h3 {
    width: 90%;
}
.autreSpec {
    width: 90%;
    margin-left: 10px;
}
.form  {
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
    margin-left: 10px;
}
.sampleContainer {
    margin-left: 10px;
}
.navlinks-container a {
    font-size: 18px;
}
}